<!--Simulation Mode SLAM Launch -->
<launch>
  <node name="crsm_slam_node" type="crsm_slam_node" pkg="crsm_slam" respawn="false" ns="crsm_slam" output="screen"/>
	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100"/>
	<node pkg="tf" type="static_transform_publisher" name="map2odom" args="0 0 0 0 0 0  map slamRobot_tf/odom 100"/>
	<node pkg="tf" type="static_transform_publisher" name="map2odom1" args="3 -2 0 0 0 0  map robot1_tf/odom 100"/>
  <rosparam file="$(find crsm_slam)/config/crsm_slam/crsm_slam_parameters.yaml" command="load" ns="crsm_slam"/>
</launch>
